/**全局样式表**/
/**设置标签撑满全屏**/
html,
body,
#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
/* 面包屑全局设置 */
.el-breadcrumb{
    margin-bottom: 15px;
    font-size: 12px;
}

/* 卡片全局设置 */
.el-card{
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important; 
}

.el-table{
    margin-top: 15px;
    font-size: 12px;
}

.el-pagination{
    margin-top: 15px;
}
/* 解决element ui 2.13版本中数据过多沾满全屏问题 */
.el-cascader-menu{
    height: 240px;
}
.el-steps{
    margin: 15px 0;
}
.el-step__title{
    font-size: 13px;
}
.ql-editor{
    min-height: 300px;
}
